{% extends "base.html" %}

{% block title %}Recovery{% endblock %}

{% block page_header %}Set your new password{% endblock %}

{% block content %}
  <form method="post" action="{{ urls["recovery_change_password_post"] }}?token={{ token }}">
    <input type="password" placeholder="Password" name="password1" required>
    <input type="password" placeholder="Confirm password" name="password2" required>
    <button type="submit">Confirm</button>
    <p>Remember your password? <a href="{{ urls["login"] }}">Sign in</a></p>
    <p>Don't have an account? <a href="{{ urls["register"] }}">Sign up</a></p>
  </form>
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
  {% if message %}
    <p style="color: green;">{{ message }}</p>
  {% endif %}
{% endblock %}