
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so


.venv/
env/
venv/
ENV/
*.egg-info/
dist/
build/


.vscode/


*.log
coverage/
htmlcov/
*.cover
.cache/
pytest_cache/


.env
.env.*


.DS_Store
Thumbs.db


*.sqlite3
*.db


.mypy_cache/


.pyright/


*.json


.ipynb_checkpoints/

config.py

test.py